tweepy==3.7.0
inquirer==2.5.1
textblob==0.15.2
gmplot==1.2.0
config==0.4.0
geopy==1.18.0
matplotlib==3.0.2
PyMySQL==0.9.2
termcolor==1.1.0
pandas==0.23.4
folium==0.7.0
tqdm==4.28.1
certifi==2018.11.29
python_dateutil==2.7.5
